html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

#wrapper {
  padding-bottom: 81px;
  min-height: calc(100% - 81px);
  position: relative; }

#footer {
  background-color: #2dc2fd;
  width: 100%;
  height: 81px;
  position: absolute;
  bottom: 0;
  left: 0; }

.container {
  padding: 12px; }

.jumbotron {
  background: linear-gradient(to bottom, #2dc2fd, white);
  color: black;
  margin-top: 10px;
  margin-bottom: 0px; }

.container {
  margin-top: -20px;
  margin-bottom: 0px; }

.btn {
  background-color: blue; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #2dc2fd;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.btn-link {
  background-color: black;
  color: white; }

.btn-outline-success {
  background-color: white;
  color: green; }

/*# sourceMappingURL=styles.css.map */
