@yellow: #fffa19;
@turquesa: #2dc2fd;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background: linear-gradient(to bottom, @turquesa, white);;
    color: black;
    .margenes(10px, 0px);
}
.container {
    .margenes(-20px, 0px);
}
.btn {
    background-color: blue;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: @turquesa;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.btn-link {
    background-color: black;
    color: white;
}

.btn-outline-success {
    background-color: white;
    color: green;
}
