$yellow: #fffa19;
$turquesa: #2dc2fd;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

html, 
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#wrapper {
    padding-bottom: 81px;
    min-height: calc(100% - 81px);
    position: relative;
}

#footer {
    background-color: $turquesa;
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    padding:12px;
}
.jumbotron {
    background: linear-gradient(to bottom, $turquesa, white);
    color: black;
    @include margenes(10px, 0px);
}
.container {
    @include margenes(-20px, 0px);
}
.btn {
    background-color: blue;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: $turquesa;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.btn-link {
    background-color: black;
    color: white;
}

.btn-outline-success {
    background-color: white;
    color: green;
}
